*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(255, 236, 236);
}

.container{
    width: 80%;
    margin: auto;
    min-height: 100vh;
    background-color: white;
   
}

input{
    padding: 20px;
    outline: none;
    width: 80%;
    box-sizing: border-box;
    font: 100 1.2rem "Lucida Sans";
}

button{
    padding: 20px;
    width: 19%;
    font: 100 1.2rem "Lucida Sans";
    border-radius: 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
}

.tags{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.tag{
    padding: 20px;
    box-sizing: border-box;
    background-color: darkred;
    width: 30%;
    color: white;
    margin: 10px;
}